<h1 style="text-align:center">Pictures</h1> 
<div class="d-flex flex-wrap bg-light justify-content-between ">
  <div *ngFor="let picture of pictures; let i = index">
    <div class="p-2 border">
      <img style="display: block; margin-left: auto; margin-right: auto;" src="{{apiUrl}}{{picture.thumbnailUrl}}" width=100 height = 150>
      <div style="text-align:center"> {{ picture.name }}</div> 
      <button type="button" class="btn btn-danger" (click)="onDeletePicture(picture.id)">X</button>
      <button type="button" class="btn btn-primary" (click)="onDownloadPicture(picture.id)">D</button>
      <button type="button" class="btn btn-info" (click)="onOpenPicture(picture.id)">...</button>      
    </div>
  </div>
</div>
